body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.clicable:hover { 
	background-color: gray;
}

#selectors {
	display: flex;
	padding: 20px 0px 20px 0px
}

#selectors > span {
	padding: 5px 10px 5px 10px;
	font-size: 24px;
	font-weight: 700;
	font-family: Arial, sans-serif;
	text-decoration: underline;
}

table {
	border-collapse: collapse;
	font-size: 18px;
}

td, th {
	padding: 10px 0px 10px 0px;
	min-width: min(20vw, 175px);
	text-align: center;
}

td:not(:last-child) , th:not(:last-child) {
	border-right: 1px black solid;
}

td {
	border-top: 1px black solid;
}