$default_font_size: 16px

$h1_font_size: 3rem // 48px
$h2_font_size: 2.7rem // 43,2px
$h3_font_size: 2.4rem // 38,4px
$h4_font_size: 2.1rem // 33,6px
$h5_font_size: 1.8rem // 28,8px
$h6_font_size: 1.5rem // 24px

$max_font_size: $h1_font_size


