@import '../variables/typography'

// TODO rework

table
    border-collapse: collapse
    font-size: $default_table_font_size

th, td
    padding: 10px 5px 10px 5px
    min-width: min(20vw, 175px)
    text-align: center

    &:not(:last-child)
        border-right: 1px black solid

    &:not(:first-child)
        border-left: 1px black solid

    &.narrow
        min-width: min(30px)

td
    border-top: 1px black solid
